// Reset
@import '../../bower_components/normalize-scss/_normalize';

// Colours
$foreground: #333;
$faded: lighten($foreground, 50%);
$really-faded: #f6f6f6;
$background: #fff;
$highlight: #dd1f3e;

// Fonts
$serif: Lora, serif;
$normal: 400;
$bold: 700;

%type-1 { @include font($serif, $bold,   36, 36); }
%type-2 { @include font($serif, $bold,   24, 24); }
%type-3 { @include font($serif, $normal, 16, 20); }
%type-4 { @include font($serif, $normal, 12, 12); }
