@charset "UTF-8";

$compressed: true;

@import '_mixins';
@import '_base';
@import '_type';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

div[role="container"] {
  margin: 0 auto;
  padding: 2em 1em 1em;
  position: relative;
  width: 100%;
  @include breakpoint(desktop) {
    width: 800px;
  }
}

section + section {
  margin-top: 2em;
}

@media only print {
  section + section {
    margin-top: 1em;
  }
}

a {
  @include transition(border-bottom-color .1s ease-in-out);
  border-bottom: 1px solid $faded;
  &:hover {
    border-bottom-color: $highlight;
  }
  @media only print {
    & {
      border-bottom: 0;
    }
  }
}

p {
  margin-bottom: 1.5em;
}

ul, ol {
  list-style: none;
  padding: 0;
}

#on-the-web {
  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  @media only print {
    & {
      display: none;
    }
  }
}

@media only print {
  .timespan {
    margin-left: .5em;
  }
  #skills h3 {
    display: inline-block;
    width: 180px;
  }
  #experience h3 {
    display: inline;
  }
}

#experience .major p {
  margin-top: 0;
}

@include breakpoint(tablet) {
  .timespan {
    margin-left: .5em;
  }
  #skills h3 {
    display: inline-block;
    width: 200px;
  }
  #experience h3 {
    display: inline;
  }
}

#experience .minor + .minor {
  margin-top: .5em;
}
